{% load static %}
<!doctype html>
<html>
<!--<>-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static 'css/main.css' %}">
    <title>SanTeacher, tu plataforma de aprendizaje preferida</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a title="Volver a inicio" href="/">Inicio </a></li>
            {% if user.is_authenticated %}
            <li> <a title="Perfil" href="{% url 'profile' %}">Perfil   </a></li>
            <li> <a title="Cerrar sesión" href="{% url 'logout' %}">Cerrar sesión   </a></li>
            <li> <a title="Crear Post" href="/post/new/">Crear Post </a></li>
            {% else %}
            <li> <a title="Iniciar sesión" href="{% url 'login' %}">Iniciar Sesión   </a></li>
            <li> <a title="Regístrate" href="{% url 'register' %}">Registrarse   </a></li>
            {% endif %}
            <li> <a title="Calendario " href="/calendario">Calendario    </a></li>
            <!--<li> <a title="Abaut" href="/abaut">abaut     </a></li>
            <li> <a title="popup" href="/main">main     </a></li>-->
        </ul>
    </nav>
{% if messages %}   
    {% for message in messages %}
        <div class='alert alert-{{ message.tags }}'>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% block content %}
replace me
{% endblock %}
</body>
</html>