<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>San Teacher</title>
    

    <link rel="stylesheet" href="test.css">



</head>

<body>
    <nav>
        <ul>
            <li> <a title="mis datos 1" href="/">Mi perfil </a></li>
            <li> <a title="sing out" href="/login">Login   </a></li>
            <li> <a title="registrate" href="/login/registrar">Registrarse   </a></li>
            <li> <a title="Calendario " href="/calendario">Calendario    </a></li>
            <!--<li> <a title="Abaut" href="/abaut">abaut     </a></li>
            <li> <a title="popup" href="/main">main     </a></li>-->




        </ul>


    </nav>


</body>

</html>

    <!--Cargue el css de navbar.css, pero no se como usarlo HEHEHEHEHEH-->