    <nav class='nav'>
        <ul class='nav ul'>
            <li class='nav ul li'> <a >Mi perfil </a></li>
            <li class='nav ul li'> <a >Login   </a></li>
            <li class='nav ul li'> <a >Registrarse   </a></li>
            <li class='nav ul li'> <a >Calendario    </a></li>
            <!--<li> <a title="Abaut" href="/abaut">abaut     </a></li>
            <li> <a title="popup" href="/main">main     </a></li>-->

        </ul>
    </nav>

    <!--Cargue el css de navbar.css, pero no se como usarlo HEHEHEHEHEH-->